
/*@font-face {
  font-family: 'Sabon';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Sabon-Roman.woff) format('woff');
}*/


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Fix for jumping scrollbar: https://aykevl.nl/2014/09/fix-jumping-scrollbar
-------------------------------------------------- */
@media screen and (min-width: 35em) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  color: #222;
  text-decoration: none;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  /*font-family: "Sabon", serif;*/
  font-family: 'Libre Baskerville', Baskerville, Georgia, serif;
}
body {
  margin: 0 auto;
  line-height: 1.5em;
  padding: 1.5em;
  max-width: 50em;
  background: #fff;
  color: #222;
}


/* Header
-------------------------------------------------- */
header {
  border-bottom: 2px solid #222;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}
.logo {
  display: block;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.25em;
}

/* Headings
-------------------------------------------------- */
.recipe-name {
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: .5em;
}
h2 {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
.subtitle {
  color: #ccc;
  margin-left: 5px;
  text-transform: none;
}


/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid #222;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
/*.main a {
  border-bottom: 2px solid #ddd;
}
.main a:hover {
  border-color: #222;
}
*/
/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project recipes
-------------------------------------------------- */
.recipe-list {
  list-style: none;
}
.recipe-list li {
  margin-bottom: 1.5em;
  list-style: none;
}
.recipe-list .recipe-blurb {
  margin-top: 5px;
  font-size: 0.8em;
  color: #555;
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: #FF4136;
  padding-left: .25em;
}


/* Sexy Link Effect
-------------------------------------------------- */
.nicelink {
  position: relative;
  text-decoration: none;
}
.nicelink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #222;
  visibility: hidden;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.nicelink:hover:before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.clickable {
  cursor: pointer;
}
