
@font-face {
    font-family: 'Sabon-Roman';
    src: url('sar.eot');
    src: url('sar.eot') format('embedded-opentype'),
         url('sar.woff') format('woff'),
         url('sar.ttf') format('truetype'),
         url('sar.svg#sar') format('svg');
    font-weight: normal;
    font-style: normal;
}